body {
  background: #faf8ef;
  text-align: center;
 

}
p {
  width: 350px;
  text-align: center;
  margin: 50px auto;
  font-size: 23px;
  font-family: 'Roboto', sans-serif;;
}
.title {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}

#board {
width: 400px;
height: 400px;
background-color: #cdc1b5;
border: 6px solid #bbada0;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
border-radius: 5px;


}

.square {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  border: 5px solid #bbada0; 
  font-size: 45px;
  font-weight: bold;
  
  
  /* transition: 100ms ease-in-out; */
}

/* #newBtn {
  margin: 30px  auto;
  background: #8f7a66;
  border-radius: 5px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center; */
 
#newBtn {
  align-items: center;
  appearance: button;
  background-color: #8f7a66;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 30px auto;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  touch-action: manipulation;
}

#newBtn:hover {
  background-color: whitesmoke;
}




.x2 {
  background-color: #eee4da;
  color: #727371;
}

.x4 {
  background-color: #ece0ca;
  color: #727371;
}

.x8 {
  background-color: #f4b17a;
  color: white;
}

.x16{
  background-color: #f59575;
  color: white;
}

.x32{
  background-color: #f57c5f;
  color: white;
}

.x64{
  background-color: #f65d3b;
  color: white;
}

.x128{
  background-color: #edce71;
  color: white;
}

.x256{
  background-color: #edcc63;
  color: white;
}

.x512{
  background-color: #edc651;
  color: white;
}

.x1024{
  background-color: #eec744;
  color: white;
}

.x2048{
  background-color: #ecc230;
  color: white;
}

.x4096 {
  background-color: #fe3d3d;
  color: white;
}

.x8192 {
  background-color: #ff2020;
  color: white;
}

.hidden {
  visibility: hidden;
}